/*
Will update this section with Website Main Colors:
-#F5E6E8 <-- Light pink color
-#694A43D <--Light brown Color
-#2E1F1E <-- Darker Brown
-ACD77E <--Light green
-#D9AFAF <-- Darker pink color
-White
-Black
*/

/* Using the same font as the login page*/
* {
    overflow-x: hidden; /*This stops all the boxes from going over the page*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*fancy-like font*/
}


body {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('images/homepg.png') no-repeat;/*Imported an image as a background*/
    background-size: cover; /*makes sure that it wont be small and on the side!*/
    background-position: center;
    padding-left: 160px; /*Added a bit of spacing, but im keeping the login things to the left*/
}